.testimony-container {
  background: #222;
  padding: 25px;
  border: 5px solid #111;
  border-radius: 16px;
}

.testimony-section {
  padding-bottom: 100px;
  padding-top: 20px;
}

.testimony {
  font-weight: 700;
  font-size: 40px;
}

.about-company {
  font-weight: 700;
}

.writersAboutCompany {
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
}