body {
  font-family: syne;
  color: #fff;
  background: #111;
}

.nav-btn {
  background: #758e4f;
  color: #fff;
  font-weight: 700;
}

.header-logo {
  font-weight: 700;
  font-size: 20px;
}

.navbarSupportedContent {
  display: flex;
  justify-content: end;
}

.navbar-toggler {
  color: #758e4f;
  font-weight: 700;
  border: 1px solid #758e4f;
}

.navigationBar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.0);
  backdrop-filter: blur(9px);
}